computation_theory/计算理论导引[[:space:]]原书第3版[[:space:]](迈克尔·西普塞[[:space:]](Michael[[:space:]]Sipser))[[:space:]](z-lib.org).pdf filter=lfs diff=lfs merge=lfs -text
politics/【硕士研究生思想政治理论课教材】新时代中国特色社会主义理论与实践（2021年版）[[:space:]](本书编写组)[[:space:]](z-lib.org).pdf filter=lfs diff=lfs merge=lfs -text
